  /*--------------------------------------------------------------
# Extras
--------------------------------------------------------------*/
      .align-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 980px;
      }
      .wide {
        letter-spacing: 4px;
      }
      .white {
        background-color: #fff !important;
      }
      .dark-grey {
        background-color: #616161 !important;
      }
      .content-padding {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        color: wheat;
      }
      /*----------------------------------------------------------*/
      .body-sec {
        background: rgb(32, 32, 32, 1);
      }
      header {
        background: linear-gradient(
          to right,
          #202020,
          #27313e,
          #3b6397,
          #3b6397,
          #2c3e54
        );
        min-height: 250px;
        border-radius: 5px;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
      .my-img {
        width: 220px;
        height: 212px;
        border-radius: 50%;
        border-style: double;
        border-color: #3a6092;
        margin-left: 110px;
        margin-top: 15px;
      }
      .h1 {
        position: absolute;
        padding: 5px;
        color: white;
        left: 45%;
        margin-top: -200px;
        letter-spacing: 2px;
        font-size: 50px;
        font-weight: 540;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      header p {
        position: relative;
        color: white;
        left: 46%;
        margin-top: -120px;
        font-size: 25px;
        font-weight: lighter;
        letter-spacing: 2px;
        font-family: "Courier New", Courier, monospace;
      }
      .about-me {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 260px;
        background: #1e1e1e;
      }
      .about-me:hover{
        font-size: larger;
        box-shadow: #5096f1 3px 3px 10px;
      }
      .personal-details {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 560px;
        background: #1e1e1e;
        width: 39.7%;
      }
      .personal-details:hover{
        font-size: larger;
        box-shadow: #5096f1 3px 3px 10px;
      }
      .contact {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 920px;
        background: #1e1e1e;
        width: 39.7%;
        padding-top: 10px;
        padding-bottom: 40px;
      }
      .contact:hover{
        font-size: 17px;
        box-shadow: #5096f1 3px 3px 10px;
      }
      .projects {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 1120px;
        background: #1e1e1e;
        width: 39.7%;
        padding-bottom: 35px;
      }
      .projects:hover{
        font-size: larger;
        box-shadow: #5096f1 3px 3px 10px;
      }
      .git-name {
        font-size: 20px;
        position: absolute;
        margin-top: 5px;
      }
      .education {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 260px;
        background: rgb(21, 21, 21);
        width: 39.7%;
        left: 50%;
        padding-bottom: 35px;
      }
      .education:hover{
        font-size: larger;
        box-shadow: #5096f1 3px 3px 10px;
      }
      .skills {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 560px;
        background: rgb(21, 21, 21);
        width: 39.7%;
        left: 50%;
        padding-bottom: 35px;
      }
      .skills:hover{
        font-size: larger;
        box-shadow: #5096f1 3px 3px 10px;
      }
      .language {
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        top: 1050px;
        background: rgb(21, 21, 21);
        width: 39.7%;
        left: 50%;
        padding-bottom: 35px;
      }
      .language:hover{
        font-size: larger;
        box-shadow: #5096f1 3px 3px 10px;
      }
      ul {
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 17px;
      }
      .blue {
        color: #4884d1;
      }
      .color {
        color: #5096f1;
      }
      p {
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 14px;
      }
      pre {
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 14px;
      }
      .align {
        margin-top: -30px;
      }
      .left {
        background: #171717;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 16.86%;
        width: 550px;
      }
      .icon-size {
        width: 32px;
        height: 32px;
      }
      .bold {
        font-weight: bold;
        font-size: 16px;
      }
