/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/
body{
    background: #222;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar{
    
    display: block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    position: absolute;
    min-width: 5.3%;
    border: 4px solid black;
    border-radius: 20px;
    left: 0.2%;
}

.sidebar a{
    display: block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 20px;
}

.sidebar :hover{
    background-color: #222;
    border-radius: 15px;
}


.Hyra{
    width: 55px;
    padding-top: 10.25px;
    padding-bottom: 10.25px;
    padding-left: 1.45%;
    padding-right: 1.625%;
    border: 2px solid #222;
    border-radius: 20px;
    min-width: 3%;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.heading{
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 25px!important;
    text-align: center;
    margin-top: -70px;
     
}
.heading :hover{
  color: wheat;
}
.img-sec{
  width: 300px;
  position: absolute;
  margin-left: -150px;
  margin-top: 100px;
  border: 5px solid #222;
  border-radius: 200px;
}

.subhead{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 620px;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  margin-left: 20px;
}


/* @keyframes heading-animation{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.01);
  }
  100%{
    transform: scale(1);
  }
} */
.typewriter{
  color: #fff;
  font-family: 'Waiting for the Sunrise', cursive;
  overflow: hidden;
  border-right: .08em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end), blink-caret .5s infinite;

  /* Centering properties */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes typing {
  from { width: 0 }
  to { width: 30% }
  100%{
    border-color: transparent;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}


/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about{
  color: wheat;
}

.about h1{
  margin-top: 15%;
  font-size: 35px;
}

.underline{
  color: aliceblue;
  text-align: center;
  margin-top: -40px;
}

.underline1{
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  background: #d10ba6;
  bottom: 20.5px;
  left: calc(50% - 20px);
  
}

.about-content{
  font-size: 22px;
  font-family: cursive;
  text-overflow: clip;
}


/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills{
  color: wheat;
}
.skills h3{
  font-size: 28px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;

}
.skills-underline{
  color: aliceblue;
  text-align: center;
  margin-top: -40px;
}
.skills-underline1{
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  background: #d10ba6;
  bottom: 20.5px;
  left: calc(50% - 20px);
  
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  color: wheat;
  text-align: center;
}

#footer {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ff2d75;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: ruby;
  background: #ff2d75;
  color: #fff;
  line-height: 1;
  padding: 5px 10px;
  margin-right: 4px;
  border-radius: 50%;
  padding-top: 25px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ff2d75;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.footer-sec{
  position: relative;
  top: 500px;
  bottom: 0;
  width: 100%;
}

.email{
  width: 32px;
  height: 32px;
}

.twitter{
  width: 32px;
  height: 32px;
}

.instagram{
  width: 32px;
  height: 32px;
}

.linkedin{
  width: 32px;
  height: 32px;
}

.discord{
  width: 32px;
  height: 32px;
}

.credits a{
  color: #ff2d75;
}


/*--------------------------------------------------------------
# Extras
--------------------------------------------------------------*/
.align-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}
.wide{
  letter-spacing: 4px;
}
.white{
  background-color: #fff !important;
}
.dark-grey{
  background-color: #616161 !important;
}
.content-padding{
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  color: wheat;
}



/*--------------------------------------------------------------
# Typeform Section
--------------------------------------------------------------
.typeform-sec{
    border: 3px solid powderblue;
    border-radius: 12px;
}*/